body{
    background-color: rgb(0, 0, 0);
}
h1{
    color: #19ff00;
}
h2{
    color: #19ff00;
}
p{
    color: #19ff00;
}
ul{
    color: #19ff00;
}
.big_bar{
    width: auto;
    border: 5px solid #19ff00;
    border-radius: 10px;
    background-color: #19ff00;
}
.dropbtn {
    background-color: #19ff00;
    padding: 16px;
    border-radius: 10px;
    border: 2px solid #000000;
    font-size: 16px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: #19ff00;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #11aa00;
    border-radius: 10px;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {
    background-color: #11aa00;
    border-radius: 10px;
}