body{
    background-color: rgb(34, 40, 49);
}
h1{
    background-color: rgb(34, 40, 49);
    color: rgb(214, 90, 49);
}
p{
    background-color: rgb(34, 40, 49);
    color: rgb(214, 90, 49);
}
ul{
    background-color: rgb(34, 40, 49);
    color: rgb(214, 90, 49);
}